<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://us-cdbr-iron-east-04.cleardb.net/heroku_5e754667688fa3a
        </property>
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>
        <property name="hibernate.connection.username">
            bf04c08bb60517
        </property>
        <property name="hibernate.connection.password">
            e50d1191
        </property>

        <mapping class="ru.mail.park.database.entities.User"/>
    </session-factory>
</hibernate-configuration>